<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CUMD</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <p class="justified-text">
       La corporación Universitaria Minuto de Dios pretende fomentar el acceso del público a la informacipon relativa a sus iniciativas.
       Nuestro objetivo consiste en velar por la actualidad y exactitud de dicha información, desarrollando los esfuerzos necesarios para evitar
       errores, repararlos o actualizarlos lo antes posible, no pudiendo garantizar su inexistencia, ni que la totalidad del contenido suministrado esté
       permanentemente actualizado.
      </p>
      <p class="justified-text">El acceso a la aplicación, así como el uso que pueda hacerse de la información que contiene, son de exclusiva responsabilidad del usuario.
       La CUMD no asume responsabilidad alguna en relación con el posible daño o perjuicio que pudiera derivarse del acceso o uso de la información 
       incluida en esta aplicación.
      </p>
      <p class="justified-text">La información contenida:</p>
      <ul class="justified-text">- Unicamente es de caracter general y no aborda circunstancias especificas relativas a personas u organismos concretos</ul>
      <ul class="justified-text">- No es exhaustiva, completa, exacta o actualizada</ul>
      <ul>- Contiene en ocasiones enlaces a páginas externas sobre los servicios que la CUMD no tiene control alguno y respecto a las cuales declinan toda responsabilidad</ul>
      <ul class="justified-text">- No ofrece asesoramiento profesional o juridico (Si desea efectuar una consulta de este tipo, dirijase siempre a un profesional debidamente cualificado, Servicio de Prevención, etc.)</ul>
    <p class="justified-text">Pretendemos reducir al mínimo los problemas ocasionados por errores de cáracter técnico. No obstante, algunos datos o informaciones contenido en nuestra aplicación y página
        pueden haber sido creadas o estructuradas en archivos o formatos no exentos de errores, por lo que no podemos garantizar que nuestro servicio no quede interrumpido o afectado
      </p>
      <p class="justified-text">La presente clausula de exención de responsabilidad no tiene por objeto limitar la responsabilidad de la CUMD de forma contraria a la normativa
        nacional aplicable, ni excluir su responsabilidad en los casos que, en virtud de dichas normativas, no pueda excluirse
      </p>
      <p class="ion-text-center"><i> Copyright. ©CUMD. Colombia.</i></p>
      <p class="justified-text">Los derechos de propiedad intelectual de esta aplicación para dispositivo móviles, su diseño gráficos y los códigos que contiene 
        son propiedad de la Corporación Universitaria Minuto de Dios. Su reproducción, distribución, comercialización o transformación  no autorizados
        constituye una infracción de los derechos de propiedad intelectual de la Corporación Universitarioa Minuto de Dios.
        La ubicación no autorizada de la información contenida en la aplicación, asi como los prejuicios ocasionados en los derechos de propiedad intelectual e industrial
      </p>
      <br />
    </ion-card-content>
  </ion-card>
</ion-content>
