<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nivel diario equivalente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <!-- Método de medida -->
      <ion-list *ngIf="currentStep === 1">
        <h2>Selección de método de cálculo</h2>
        <p>
          <i>
            *Elija el método de cálculo que desee utilizar, en función de la
            información de que dispone
          </i>
        </p>
        <ion-item>
          <ion-select
            [(ngModel)]="selectedMethod"
            (ionChange)="updateNoiseLevels()"
          >
            <ion-select-option value="1"
              >Medición basada en el puesto de trabajo</ion-select-option
            >
            <ion-select-option value="2"
              >Medición de una jornada completa</ion-select-option
            >
            <ion-select-option value="3"
              >Medición basada en la tarea</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>

      <!-- Título y Nota para el currentStep 2 -->
      <ion-list *ngIf="currentStep === 2">
        <ion-item>
          <ion-text>
            <h2 *ngIf="selectedMethod === '1'">
              Medición basada en el puesto de trabajo
            </h2>
            <h2 *ngIf="selectedMethod === '2'">
              Medición de una jornada completa
            </h2>
            <p>
              <i
                >*Especifique la incertidumbre típica u<sub>2</sub> de los
                instrumentos de medición utilizados.</i
              >
            </p>
          </ion-text>
        </ion-item>

        <!-- Opciones de Instrumentos de Medición -->
        <ion-item>
          <ion-select [(ngModel)]="selectedInstrument">
            <ion-select-option [value]="1"
              >Sonómetro de clase 1, según se especifica en la Norma IEC
              61672-1:2002 (0,7 dB)</ion-select-option
            >
            <ion-select-option [value]="2"
              >Exposímetro sonoro personal, según se especifica en la Norma IEC
              61652 (1,5 dB)</ion-select-option
            >
            <ion-select-option [value]="3"
              >Sonómetro de clase 2, según se especifica en la Norma IEC
              61672-1:2002 (1,5 dB)</ion-select-option
            >
          </ion-select>
        </ion-item>

        <!-- Nota Adicional -->
        <ion-item>
          <ion-text>
            <p>
              <i
                >Nota: Las incertidumbres típicas, u<sub>2</sub>, especificadas
                se basan en datos empíricos representativos para la mayoría de
                situaciones relevantes y sólo son válidas para
                L<sub>p,A,eqT</sub>. La incertidumbre para L<sub>p,Cpico</sub>
                puede ser considerablemente superior.</i
              >
            </p>
          </ion-text>
        </ion-item>
      </ion-list>

      <!-- Entradas numéricas -->
      <ion-list *ngIf="currentStep === 3">
        <ion-item
          *ngFor="let level of noiseLevels; let i = index; trackBy: trackByFn"
        >
          <ion-label position="floating">Nivel de ruido</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="noiseLevels[i]"
            placeholder="Nivel de ruido"
          ></ion-input>
        </ion-item>

        <ion-button (click)="addNoiseLevelField()">+</ion-button>

        <ion-item>
          <ion-label position="floating">Tiempo total (minutos)</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="exposureTime"
            placeholder="Tiempo"
          ></ion-input>
        </ion-item>
      </ion-list>

      <!-- currentStep 4 -->
      <ion-card *ngIf="currentStep === 4">
        <ion-card-content>
          <!-- Tabla de Resumen -->
          <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col
                    >Nivel de exposición al ruido diario ponderado A:</ion-col
                  >
                  <ion-col> {{ LAeqdResult }} dB(A)</ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col>Incertidumbre Expandida:</ion-col>
                  <ion-col> {{ uncertainty }} dB(A)</ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col>Número de valores medidos:</ion-col>
                  <ion-col> {{ noiseLevels.length }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

          <!-- Tabla de Contribución a la Incertidumbre -->
          <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>Contribución a la incertidumbre</ion-col>
                  <ion-col>Símbolos, relaciones</ion-col>
                  <ion-col>Valor (dB)</ion-col>
                </ion-row>
                <!-- Aquí puedes iterar sobre tus fuentes de incertidumbre y mostrarlas -->
                <!-- Por simplicidad, solo muestro un par de filas como ejemplo -->
                <ion-row>
                  <ion-col>Nivel de ruido</ion-col>
                  <ion-col>(C<sub>1</sub> * u<sub>1</sub>)<sup>2</sup></ion-col>
                  <ion-col> dB</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Instrumentos de medición </ion-col>
                  <ion-col>(u<sub>2</sub>)<sup>2</sup></ion-col>
                  <ion-col> dB</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Posición de la medición </ion-col>
                  <ion-col>(u<sub>3</sub>)<sup>2</sup></ion-col>
                  <ion-col> dB</ion-col>
                </ion-row>
                <!-- ... otras fuentes de incertidumbre ... -->
                <ion-row>
                  <ion-col>Suma</ion-col>
                  <ion-col>u<sup>2</sup>(L<sub>EX,8h</sub>)</ion-col>
                  <ion-col> dB</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

          <!-- Card de Incertidumbre Típica de los Instrumentos -->
          <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>Incertidumbre típica de los instrumentos</ion-col>
                  <ion-col>Valor y nombre del instrumento</ion-col>
                </ion-row>
                <!-- Aquí puedes iterar sobre tus instrumentos y mostrar su incertidumbre -->
                <!-- Por simplicidad, solo muestro un ejemplo -->
                <ion-row>
                  <ion-col>{{instrumentValue}} dB </ion-col>
                  <ion-col>{{instrumentName}}</ion-col>
                </ion-row>
                <!-- ... otros instrumentos ... -->
              </ion-grid>
            </ion-card-content>
          </ion-card>

          <!-- Card de Duración Efectiva de la Jornada Laboral -->
          <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>Duración efectiva de la jornada laboral </ion-col>
                  <ion-col> {{ exposureTime }} minutos</ion-col>
                </ion-row>
              </ion-grid>
              <!-- Datos colocados en el noiseLevel -->
              <ion-grid>
                <!-- Aquí puedes iterar sobre tus noiseLevels y mostrarlos -->
                <!-- Por simplicidad, solo muestro un ejemplo -->
                <ion-row>
                  <ion-col>Muestra</ion-col>
                  <ion-col> dB(A)</ion-col>
                </ion-row>
                <ion-row *ngFor="let data of nivelRuido()">
                  <ion-col>{{ data.label }}</ion-col>
                  <ion-col>{{ data.value }} dB(A)</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-card-content>
      </ion-card>

      <!-- Botón para avanzar al siguiente paso o generar el PDF -->
      <ion-button expand="full" *ngIf="currentStep > 1" (click)="previousStep()"
        >Anterior</ion-button
      >
      <ion-button expand="full" *ngIf="currentStep < 4" (click)="nextStep()"
        >Siguiente</ion-button
      >
      <ion-button
        expand="full"
        *ngIf="currentStep === 4"
        (click)="generatePDF()"
        >Generar PDF</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
