<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nivel diario equivalente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <!-- Método de medida -->
      <ion-list *ngIf="currentStep === 1">
        <h2>Selección de método de cálculo</h2>
        <p>
          <i>
            *Elija el método de cálculo que desee utilizar, en función de la
            información de que dispone
          </i>
        </p>
        <ion-item>
          <ion-label>Elige el método de medida</ion-label>
          <ion-select
            [(ngModel)]="selectedMethod"
            (ionChange)="updateNoiseLevels()"
          >
            <ion-select-option value="1"
              >Medición basada en el puesto de trabajo</ion-select-option
            >
            <ion-select-option value="2"
              >Medición de una jornada completa</ion-select-option
            >
            <ion-select-option value="3"
              >Medición basada en la tarea</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>

      <!-- Título y Nota para el currentStep 2 -->
      <ion-list *ngIf="currentStep === 2">
        <ion-item>
          <ion-text>
            <h2 *ngIf="selectedMethod === '1'">
              Medición basada en el puesto de trabajo
            </h2>
            <h2 *ngIf="selectedMethod === '2'">
              Medición de una jornada completa
            </h2>
            <p>
              <i
                >*Especifique la incertidumbre típica u<sub>2</sub> de los
                instrumentos de medición utilizados.</i
              >
            </p>
          </ion-text>
        </ion-item>

        <!-- Opciones de Instrumentos de Medición -->
        <ion-item>
          <ion-label>Elige el instrumento de medición</ion-label>
          <ion-select [(ngModel)]="selectedInstrument">
            <ion-select-option [value]="1"
              >Sonómetro de clase 1, según se especifica en la Norma IEC
              61672-1:2002 (0,7 dB)</ion-select-option
            >
            <ion-select-option [value]="2"
              >Exposímetro sonoro personal, según se especifica en la Norma IEC
              61652 (1,5 dB)</ion-select-option
            >
            <ion-select-option [value]="3"
              >Sonómetro de clase 2, según se especifica en la Norma IEC
              61672-1:2002 (1,5 dB)</ion-select-option
            >
          </ion-select>
        </ion-item>

        <!-- Nota Adicional -->
        <ion-item>
          <ion-text>
            <p>
              <i
                >Nota: Las incertidumbres típicas, u<sub>2</sub>, especificadas
                se basan en datos empíricos representativos para la mayoría de
                situaciones relevantes y sólo son válidas para
                L<sub>p,A,eqT</sub>. La incertidumbre para L<sub>p,Cpico</sub>
                puede ser considerablemente superior.</i
              >
            </p>
          </ion-text>
        </ion-item>
      </ion-list>

      <!-- Entradas numéricas -->
      <ion-list *ngIf="currentStep === 3">
        <ion-item
          *ngFor="let level of noiseLevels; let i = index; trackBy: trackByFn"
        >
          <ion-label position="floating">Nivel de ruido</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="noiseLevels[i]"
            placeholder="Nivel de ruido"
          ></ion-input>
        </ion-item>

        <ion-button (click)="addNoiseLevelField()">+</ion-button>

        <ion-item>
          <ion-label position="floating">Tiempo total (minutos)</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="exposureTime"
            placeholder="Tiempo"
          ></ion-input>
        </ion-item>
      </ion-list>

      <!-- currentStep 4 -->
      <ion-card *ngIf="currentStep === 4">
        <ion-card-content>
          <!-- Tabla de Resumen -->
          <ion-list>
            <ion-item>
              <ion-text
                >Nivel de exposición al ruido diario ponderado A:</ion-text
              >
              <ion-text>{{ LAeqdResult }} dB(A)</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>Incertidumbre Expandida:</ion-text>
              <ion-text>{{ uncertainty }} dB(A)</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>Número de valores medidos:</ion-text>
              <ion-text>{{ noiseLevels.length }}</ion-text>
            </ion-item>
          </ion-list>

          <!-- Tabla de Contribución a la Incertidumbre -->
          <ion-list>
            <ion-item>
              <ion-text>Contribución a la incertidumbre</ion-text>
              <ion-text>Símbolos, relaciones</ion-text>
              <ion-text>Valor (dB)</ion-text>
            </ion-item>
            <!-- Aquí puedes iterar sobre tus fuentes de incertidumbre y mostrarlas -->
            <!-- Por simplicidad, solo muestro un par de filas como ejemplo -->
            <ion-item>
              <ion-text>Nivel de ruido</ion-text>
              <ion-text>(C<sub>1</sub> * u<sub>1</sub>)<sup>2</sup></ion-text>
              <ion-text>  dB</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>Instrumentos de medición    </ion-text>
              <ion-text>(u<sub>2</sub>)<sup>2</sup></ion-text>
              <ion-text>  dB</ion-text>
            </ion-item>
            <ion-item>
              <ion-text>Posición de la medición      </ion-text>
              <ion-text>(u<sub>3</sub>)<sup>2</sup></ion-text>
              <ion-text>  dB</ion-text>
            </ion-item>
            <!-- ... otras fuentes de incertidumbre ... -->
            <ion-item>
              <ion-text>Suma      </ion-text>
              <ion-text>u<sup>2</sup>(L<sub>EX,8h</sub>)</ion-text>
              <ion-text>  dB</ion-text>
            </ion-item>
          </ion-list>

          <!-- Card de Incertidumbre Típica de los Instrumentos -->
          <ion-card>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-text
                    >Incertidumbre típica de los instrumentos</ion-text
                  >
                  <ion-text>Valor y nombre del instrumento</ion-text>
                </ion-item>
                <!-- Aquí puedes iterar sobre tus instrumentos y mostrar su incertidumbre -->
                <!-- Por simplicidad, solo muestro un ejemplo -->
                <ion-item>
                  <ion-text>{{instrumentValue}} dB</ion-text>
                  <ion-text>{{instrumentName}}</ion-text>
                </ion-item>
                <!-- ... otros instrumentos ... -->
              </ion-list>
            </ion-card-content>
          </ion-card>

          <!-- Card de Duración Efectiva de la Jornada Laboral -->
          <ion-card>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-text>Duración efectiva de la jornada laboral {{ exposureTime }} minutos</ion-text>
                </ion-item>
              </ion-list>
              <!-- Datos colocados en el noiseLevel -->
              <ion-list>
                <!-- Aquí puedes iterar sobre tus noiseLevels y mostrarlos -->
                <!-- Por simplicidad, solo muestro un ejemplo -->
                <ion-item>
                  <ion-text>Nivel de ruido 1:</ion-text>
                  <ion-text><!-- Valor dB --></ion-text>
                </ion-item>
                <!-- ... otros niveles de ruido ... -->
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-card-content>
      </ion-card>

      <!-- Botón para avanzar al siguiente paso o generar el PDF -->
      <ion-button expand="full" *ngIf="currentStep > 1" (click)="previousStep()"
        >Anterior</ion-button
      >
      <ion-button expand="full" *ngIf="currentStep < 4" (click)="nextStep()"
        >Siguiente</ion-button
      >
      <ion-button
        expand="full"
        *ngIf="currentStep === 4"
        (click)="generatePDF()"
        >Generar PDF</ion-button
      >
      <ion-button expand="full" *ngIf="pdfSaved" (click)="openPDF()"
        >Abrir PDF</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
